include pyproject.toml
include .dockerignore
include *.rst
include *.yml
include Dockerfile
include LICENSE
include Makefile
include tox.ini
include *.py
recursive-include ci *.in
recursive-include ci *.txt
recursive-include ci *.yml
recursive-include ci *.ps1
recursive-include docs *.gitkeep
recursive-include docs *.py
recursive-include docs *.rst
recursive-include gribapi *.h
recursive-include tests *.grib
recursive-include tests *.ipynb
recursive-include tests *.py
